.composer {
	.formatting-bar {
		display: none;
	}

	.write-container {
		display: block;
		margin-bottom: 1.5rem;

		textarea {
			display: none;
		}

		.ql-container {
			height: ~"calc(100% - 42px)";
		}
	}
}

.ql-toolbar {
	.ql-foobar::after {
		content: 'A';
	}

	.fa-stack {
		line-height: inherit;
		left: -0.25em;
	}

	.ql-upload .fa-arrow-up {
		font-size: 0.5em;
		top: 6px;
		left: -0.5px;
	}
}

/* Safari bug.. */
.composer {
	user-select: initial;
}

[component="chat/composer"] {
	> div {
		border: 1px solid @gray-lighter;
		flex: 1;
		height: 52px;
		min-width: 50%;	// wut... https://stackoverflow.com/a/36150764/122353
	}

	[component="chat/input"] {
		display: none;
	}
}